<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		@font-face {
            font-family: 'WOLF2SID';
            src: url('/fonts/WOLF2SID.TTF') format('truetype');
            font-weight: 400;
        }

        
        .box, .test{
        	width: 50%;
        	margin: 100px auto;
        	padding: 16px;
        	background: lightsalmon;
        }

        .test{
        	font-family: 'WOLF2SID';
        	font-size: 48px;
        	background: green;
        }
	</style>
</head>
<body>
	<div class="box">
		<h2>QUESTION ANSWER PDF OUTPUT</h2>
		<ul>
			<li><a href="/pdf/question">Question</a></li>
			<li><a href="/pdf/answer">Answer PDF</a></li>
		</ul>
	</div>
</body>
</html>