<div class="footer" style="width: 100%;margin: 0 50px; margin-bottom: 30px; display: flex; align-items:flex-end; gap: 16px;">
	<img src="<%= svg.icon %>" style="width: 40px;">
	<div style="border-top: 2px solid #000000; font-size: 10px; width: 100%;padding: 4px 0;line-height:1.25;">
		<div style="display:flex; justify-content:space-between;">
			<span>כל הזכיות שמורות למפעל התלמיד בגמרא. ואסור להעתיקו</span>
			<span class="pageNumber"></span>
		</div>
		<span>&copy; COPYRIGHT 2025</span>
	</div>
</div>